openapi: 3.0.0
info:
  title: NVD CVE API
  description: API for retrieving CVE details from the National Vulnerability Database.
  version: "2.0"
servers:
  - url: https://services.nvd.nist.gov/rest/json/cves/2.0

paths:
  /:
    get:
      summary: Retrieve CVEs based on multiple filter criteria.
      parameters:
        - name: cveId
          in: query
          description: Returns a specific CVE by its ID.
          schema:
            type: string
        - name: keywordSearch
          in: query
          description: Returns CVEs where a word or phrase is found in the current description.
          schema:
            type: string
        - name: keywordExactMatch
          in: query
          description: Filters results to include only CVEs with exact matching phrases in their description.
          schema:
            type: boolean
        - name: resultsPerPage
          in: query
          description: Number of results per page.
          schema:
            type: integer
        - name: startIndex
          in: query
          description: Index of the first result to return.
          schema:
            type: integer
        - name: virtualMatchString
          in: query
          description: Filters CVEs more broadly using a CPE match string.
          schema:
            type: string
      responses:
        '200':
          description: Successful response with CVE data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVEResponse'
        '400':
          description: Bad request, possibly due to missing or incorrect parameters.
        '404':
          description: The specified CVE or criteria were not found.
        '500':
          description: Server error.

components:
  schemas:
    CVEResponse:
      type: object
      properties:
        resultsPerPage:
          type: integer
          example: 20
        startIndex:
          type: integer
          example: 0
        totalResults:
          type: integer
          example: 245593
        vulnerabilities:
          type: array
          items:
            $ref: '#/components/schemas/CVEItem'
    CVEItem:
      type: object
      properties:
        cveId:
          type: string
          example: 'CVE-2019-1010218'
        summary:
          type: string
          example: 'Description of the CVE.'
        publishedDate:
          type: string
          format: date-time
          example: '2019-07-10T00:00:00Z'
        lastModifiedDate:
          type: string
          format: date-time
          example: '2019-08-10T00:00:00Z'
        cvssV2Metrics:
          type: string
          example: 'AV:N/AC:L/Au:N/C:P/I:P/A:P'
        cvssV3Metrics:
          type: string
          example: 'AV:L/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H'
        severity:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
          example: 'HIGH'
        cweId:
          type: string
          example: 'CWE-287'
        references:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              url:
                type: string
              description:
                type: string
